@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

html, body {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
}

html {
    font-size: 62.5%;
}

header {
    background-image: url('./assets/banner1.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 24px 0;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 8px;
}

header p {
    font-size: 16px;
    font-family: 'Inter', 'Merriweather', sans-serif;
    font-weight: 700;
    color: #0052B7;
    line-height: 1.5;
    margin: 0;
}

header .title {
    font-size: 18px;
    color: #002379;
    font-family: 'Merriweather', sans-serif;
}

main {
    background-color: #E4E9F2;
}

main .menu {
    display: grid;
    padding: 0;
    list-style: none;
    grid-template-columns: 300px;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    margin: 0;
}

main .menu .item a {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 48px 24px;
    background-color: #fff;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    row-gap: 24px;
    color: #000;
    box-shadow: 4px 4px 16px 0 rgba(3, 23, 57, 0.06);
}

main .menu .item a:hover {
    color: #0052B7;
}

main .menu .item p {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 700;
}

footer .bg-footer {
    height: 200px;
    background-image: linear-gradient(0deg, rgba(237, 241, 247, 0.00) 20.96%, #E4E9F2 100%), url('./assets/banner2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-width: 576px) {
    main .menu {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (min-width: 768px) {
    header p {
        font-size: 2rem;
    }

    header .title {
        font-size: 2.6rem;
    }
}

@media (min-width: 992px) {
    header p {
        font-size: 2.2rem;
    }

    header .title {
        font-size: 3rem;
    }

    main {
        display: flex;
        align-items: center;
    }

    main .menu {
        grid-template-columns: repeat(4, 1fr)
    }

    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    main {
        flex-grow: 1;
    }
}

@media (min-width: 1200px) {
    header p {
        font-size: 2.6rem;
    }

    header .title {
        font-size: 3.8rem;
    }

    main .menu .item p {
        font-size: 2.2rem;
    }
}

@media (min-width: 1400px) {
    header {
        padding: 54px 0;
    }
}